body {
  margin: 0;
  background: black;
  color: #00ff9c;
  font-family: "Courier New", monospace;
}

.terminal {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #00ffea;
}

.panel {
  border: 1px solid #00ff9c;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 15px;
  background: #00ff9c;
  color: black;
  border: none;
  font-weight: bold;
  margin-bottom: 15px;
}

.threat {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.low { background: #16a34a; }
.medium { background: #ca8a04; }
.high { background: #dc2626; }
